.game main{
    width: 100%;
    height: 989px;
    text-align: center;
    background-image: url('../images/background-ring.jpg');
    background-size: cover;
    background-position:center center;
    background-repeat:no-repeat;
}

.dice {
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url('../images/dice.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    border: none;
}

.report {
    width = 80%;
    background-color: rgba(0, 0, 0, 0.2);
    background-radius: 20px;
    border: none;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

.history {
    background-color: rgba(255, 255, 255);
    color: black;
}

.fighter {
    margin: 0px 200px 0px 200px;
}