@font-face {
    font-family: 'chalk';
    src: url('../fonts/Minecraft.ttf');
}

.game {
    width: 100%  ;
    height:  100% ;

    font-family: serif;
    text-align: center;

    background-image: url('../images/background-ring.jpg');
    background-position:center center;
    background-repeat:no-repeat;
}

.dice {
    background-image: url('../images/dice.jpg');
    background-position:center center;
    background-repeat:no-repeat;
}

.report {

}

.history {

}