@font-face {
    font-family: 'pixel';
    src: url('../font/Minecraft.ttf');
}

body {
    background-color: rgba(50, 50, 50);
    color: white;
    font-family: pixel;
}

header {
    background-color: rgba(100, 50, 50);
    height: 50px;
    padding: 0;
}

main {
    height-min: 500px;
}

footer {
    background-color: rgba(100, 50, 50);
    height: 50px;
    padding: 0;
}

.logo {

}

.button {

}

.connection {

}

.lose {
    font-size: 200px;
    color: red;
    text-align: center;
}

.win {
    font-size: 200px;
    color: green;
    text-align: center;
}
