.classroom {
    width: 100%  ;
    height:  100% ;
    background-color: rgb(50 50 50);

    font-family: serif;
    text-align: center;
    color: white;
    font-size: 36px;

    padding-top: 200px;

    background-image: url('../images/classroom2.jpg');
    background-position:top center;
    background-repeat:no-repeat;
}

table {
    margin: auto;
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

th, td {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ____________ BODY _____________ */
tbody th {
    width: 20px;
    height: 50px;
}

.bureau {
    max-width: 120px;
    min-width: 120px;
    max-height: 70px;
    min-height: 70px;

    background-image: url('../images/bois.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

.person {
    object-fit: cover;
}

.person img {
    padding-top: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.9;
    object-fit: cover;
}

.bureau:hover .person img {
    opacity: 1;
}
