.login {
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 1250px;
    align-items: center;
    justify-content: center;
}

.input {
    text-align: center;
    display: flex;
    gap: 20px;
}

.login .my_button{
    margin: 20px;
}